html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { 
    line-height: 1; 
    background-color: #fafafa;
    text-shadow: 1px 1px 0px #fff;   
    width: 100%;
    font-family:Georgia,sans-serif;
    font-size: 16px;
    line-height: 1.8em;
    color: #333;
}

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

em {
    font-style: italic;
}

body {
    width: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    float: left;
    width: 100%;
}

a{
    text-decoration: none;    
    font-variant: small-caps;
    font-size:1.2em;
    color: #333;
}

a:hover {
    color: #459eca;
}

p {
    line-height: 1.5em;
    font-size: 1.2em;
    margin: 15px 0px;
}
blockquote {
            font-family: Georgia, serif;
            font-size: 18px;
            font-style: italic;
            
            margin: 0.25em 0;
            padding: 0.25em 40px;
            line-height: 1.45;
            position: relative;
            color: #383838;
        }

        blockquote:before {
            display: block;
            content: "\201C";
            font-size: 80px;
            position: absolute;
            left: -20px;
            top: -20px;
            color: #459eca;
        }

        blockquote cite {
            color: #999999;
            font-size:0.8em;
            display: block;
            margin-top: 5px;
        }

        blockquote cite:before {
            content: "\2014 \2009";
        }

.content {
    width: 80%;   
    margin:3% 10%;        
}

.takes20{
    width: 20%;    
    margin-right: 5%;
}

.takes75 {
    width: 75%;           
}

.name, .title {
    height: 3.2em;  
}

.name a{        
    font-family: Georgia, serif;
    line-height: 1.7em;        
    letter-spacing: 1px;    
    font-size:1.9em;    
    display: inline-block;    
}

.title{        
    font-family: Georgia, sans-serif;    
    display: table;
}

.title a {
    color: #459eca;               
    font-variant: normal;
    display: table-cell;
    vertical-align: middle;
}

.info, .profession {
    font-size:1.2em;
}

.profession{
    line-height: 1.8em;    
}

.fa {
    font-size: 0.5em;
}


@media only screen and (max-width: 1700px){
    .takes20{
        width: 30%;
        margin-right:5%;
    }
    .takes75 {
        width: 65%;
    }
}

@media only screen and (max-device-width: 800px){
    .content {
        margin: 0;
        text-align: center;
        width: 100%;
    }

    .takes20, .takes75 {
        width: 100%;
        margin: 0;
    }

    p {
        text-align: justify;
        padding: 5px;
    }

    .info li {
        display: inline;
        padding-right:5px; 
    }
}

.post-list {
    text-transform: lowercase;
}