<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    <head>        
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=yes" />
        <title>Asafe Ribeiro</title>
        <meta name="author" content="Asafe Ribeiro" />        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/site.css" type="text/css" media="all" />
    </head>
    <body>
        <div class="content">
            <div class="takes20">
                <div class="name"><a href="/">ASAFE RIBEIRO</a></div>              
                <div>              
                    <div class="profession">Software Developer</div>
                    <ul class="info">
                        <li>
                            <a href="https://www.google.com.br/maps/place/Sao+Jose+de+Rio+Preto+-+State+of+S%C3%A3o+Paulo/@-20.8168139,-49.3823555,12z/data=!3m1!4b1!4m2!3m1!1s0x94bdad614c2df789:0x8f2fb0f070642c09?hl=en"><i class="fa fa-home"></i>&nbsp;sp, brazil</a>
                        </li>
                        <li>    
                            <a href="https://github.com/asafeh/"><i class="fa fa-github"></i>&nbsp;github</a>
                        </li>    
                        <li>
                            <a href="mailto:azafeh@azafeh.com"><i class="fa fa-envelope"></i>&nbsp;email</a>
                        </li>   
                    </ul>
                </div>
            </div>    
            <div class="takes75">
                <div class="title"><span>{{ page.title }}</span></div>
                <div>{{ content }}</div>    
            </div>            
        </div>
    </body>
</html>